<p class="exp">
    Previously: <br>
    - sde @ <a class="amazon" href="https://www.aboutamazon.com/" target="_blank" rel="noopener">Amazon</a>
    <br>
    - researcher @ <a class="ibm" href="https://www.research.ibm.com/labs/watson/" target="_blank"
        rel="noopener">IBM</a>
    <br>
    - ta @ <a class="columbia" href="https://scienceandsociety.columbia.edu/content/un1002-computing-context-cannon"
        target="_blank" rel="noopener">Columbia</a>
    <br>
    - lead @ <a class="adi" href="https://adicu.com/" target="_blank" rel="noopener">ADI</a>
    <br>
    - organizer @ <a class="devfest" href="https://devfe.st/" target="_blank" rel="noopener">Devfest</a>
</p>